<mat-card class="data-create">
    <mat-card-header>
            <div mat-card-avatar class="data-create-header-image"></div>
            <mat-card-title> Add Expense</mat-card-title>
            
    </mat-card-header>
    <hr>
    <mat-card-content>      
    <form class="example-form"> 
        <mat-form-field class="example-full-width">
          <input matInput placeholder="What was this spend for?" #itemInfo>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter Amount" type="number" #amount>
        </mat-form-field>

        <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Choose a date" #dateSelected>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
                <mat-select placeholder="Category" #category>                
                  <mat-option *ngFor="let item of items" [value]="item.value">
                    {{item.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
      </form>
    </mat-card-content>
    <hr> 
    <mat-card-footer>
            <button class="btn btn-success" (click)="onSaveData(itemInfo, amount, dateSelected, category)">Save</button>
    </mat-card-footer>
    <p>{{ data }}</p>
</mat-card>
    